<p-card>
  <p-table [value]="orders"
           [paginator]="orders && orders.length > 5"
           [rows]="5"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        List orders
        <p-button icon="pi pi-plus" label="New" (click)="openModalCreate()" />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Order Code</th>
        <th>Order Date</th>
        <th>Identification Costumer</th>
        <th style="text-align: center"><i class="pi pi-cog"></i></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{order.orderCode}}</td>
        <td>{{order.orderDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{order.customer.identification}}</td>
        <td style="text-align: center"><p-button icon="pi pi-eye" size="small" [rounded]="true" (click)="showDetails(order.orderCode)" /></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{orders ? orders.length : 0 }} orders.
      </div>
    </ng-template>
  </p-table>
</p-card>
